<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Yelp for Anything!</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>


	<body>
		<nav>
			<ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('admin') }}">Admin</a></li>
			</ul>
		</nav>
		

		<h1>Yelp for Anything!</h1>
		
		<div id="food-picture">
			<div id="banner-text">
			What are you rating today? <input id="ratee" type="text" accept-charset="UTF-8" /><br>
			How many stars, out of five? <input id="stars" type="range" min="0" max="5" /> 
			<b>{{ divs }}</b>
			<br>
			Comments? <input id="comment" type="text" size="100" accept-charset="UTF-8" />
			<button type="button">Submit</button>
			</div>
		</div>
		
		<h3>{{ divs }}</h3>
		
		<h3>{{ divs }}</h3>

		<center><button type="button">Get Ratings</button></center>
		<div id="ratings-div">
		</div>
		
		<footer>Go Patriots!</footer>
	</body>
</html>